@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


.html {
  font-size: 62.5%;
  
}

.body {
  font-family: "Poppins", sans-serif;
}


/* container */
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
/* Button */

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: small;
}

.btn-primary {
  color: #fff;
  background: #16a083;
}

.btn-primary:hover {
  background: #02100d;
  
}

/* navbar */


.navbar {
  box: 0px 5px 10px 0px #aaa;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 100px;
}
 
.navbar{
    display: flex;/* to display the conntent prestb in the navbar to move right after the image */
    justify-content: space-between;/* space width incresce */
    margin-left:100px;
    align-items:center;
    width:85%;


}


/* display inline box property--vertical list to horizontal list */
.linkitems{
    display:inline-block;
    margin: 10px 20px;
}
.links{
    text-decoration: none;/* to remove underline */
    font-weight:bold;/* to make bold */
    color:black;
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items{
  display:flex;
}

.menu-items li {
  
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.menu-items a {
  text-decoration:none;
  color: #02100d;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}

.logo {
  width: 130px;
}



.showcase-area {
  height: 50vh;
  background: linear-gradient(
      rgba(240, 240, 240, 0.144),
      rgba(255, 255, 255, 0.336)
    ),
    url("https://images.ctfassets.net/grb5fvwhwnyo/1sJpRsfp1RJI3AASMiOS1h/d5cca0a1c5d78df3052659f2b56a1225/SEO-Food-Fresh-Groceries.png");
  background-size: cover;
  background-position: center;
  
}

.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.6rem;
}

.main-title {
  text-transform: uppercase;
  margin-top: 1.5em;
}

/* about us */

#about {
  padding: 50px 0;
  background: #f5f5f7;
}

.about-wrapper {
  display: flex;
  
}

#about h2 {
  font-size: 2.3rem;
}

#about p {
  font-size: 1.2rem;
  color: #555;
}

#about .small {
  font-size: 1.2rem;
  color: #666;
  font-weight: 600;
}

.about-img {
  flex: 1 1 400px;
  padding: 30px;
 transform: translateX(150%);
  animation: about-img-animation 1s ease-in-out forwards;
}

@keyframes about-img-animation {
  100% {
    transform: translate(0);
  }
}

.about-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;
  transform: translate(-150%);
  animation: about-text-animation 1s ease-in-out forwards;
}

@keyframes about-text-animation {
  100% {
    transform: translate(0);
  }
}

.about-img img {
  display: block;
  height: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: right;
}



/* Food Menu */

.food-menu-heading {
  text-align: center;
  font-size: 3.4rem;
  font-weight: 400;
  color: #666;
}

.food-menu-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px 30px 0px;
}

.food-menu-container img {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}


.food-menu-item {
  display: flex;
  flex: 1 1 600px;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}


.food-description {
  margin: auto 1.5rem;
}

.font-title {
  font-size: 1.8rem;
  font-weight: 400;
  color: #444;
}

.food-description p {
  font-size: 1.4rem;
  color: #555;
  font-weight: 500;
}

.food-description .food-price {
  font-weight: 700;
}


/*  Testimonial  */

#testimonials {
  padding: 5rem 0;
  background: rgba(243, 243, 243);
}

.testimonial-title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 400;
  color: #555;
}

.testimonial-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 1rem;
}

.testimonial-box .checked {
  color: #ff9529;
}

.testimonial-box .testimonial-text {
  margin: 1rem 0;
  color: #444;
}

.testimonial-box {
  text-align: center;
  padding: 1rem;
}

.customer-photo img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: auto;
}

/*  Contact Us*/

#contact {
  padding: 5rem 0;
  background: rgb(226, 226, 226);
  object-position: 100%;}

.contact-container {
  display: flex;
  background: #fff;

}

.contact-img {
  width: 50%;
}

.contact-img img {
  display: block;
  height: 400px;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.form-container {
  padding: 1rem;
  width: 50%;
  margin: auto;
}

.form-container input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  color: #444;
  font-weight: 500;
}

.form-container textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  color: #444;
  outline: none;
  padding: 1rem 0;
  resize: none;
}

.form-container h2 {
  font-size: 2.7rem;
  font-weight: 500;
  color: #444;
  margin-bottom: 1rem;
  margin-top: -1.2rem;
}

.form-container a {
  font-size: 1.3rem;
}
footer{
  margin: bottom 0.2%;

}

#footer h2 {
  text-align: center;
  font-size: 1.8rem;
  padding: 2rem;
  font-weight: 500;
  color: #fff;
  background: rgb(65, 65, 65);
}

.icon-set{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.icon,.uparrow{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0px 10px;

}
.icon i{
  font-size: 30px;
  color:rgb(98, 120, 98) ;
}

.icon:hover{
  background-image: linear-gradient(to bottom right, rgb(5, 125, 61), rgb(207, 222, 203));
}

.icon:hover i{
  color: white;
 
  animation:shake 0.75s;
}

@keyframes shake{
  10%{
      transform: rotate(15deg);
  }
  30%
  {
      transform: rotate(-15deg);
  }
  50%{
      transform: rotate(15deg);
  }
  70%
  {
      transform: rotate(-15deg);
  }
}
.uparrow{
  float: right;
  background-image: linear-gradient(to bottom right, rgb(5, 108, 57), rgb(177, 187, 176));
  margin: 0px 10px 50px 0px;
}
.uparrow:hover i{
  color: white;
}



 

